/* Cool font from Google Fonts! */
@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');

:root{
    --dark: #5F6366;
    --blue: #4D6D9A;
    --purple: #86B3D1;
    --green: #99CED3;
    --pink: #EDB5BF;
}

html{
    scroll-behavior: smooth;
}

body {
	margin: 0px;
}

#container {
	/* Center the text in the viewport. */
	position: absolute;
	margin: auto;
	width: 100vw;
	height: 80pt;
	top: 0;
	bottom: 0;
	
	/* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
	filter: url(#threshold) blur(0.6px);
}

/* Your average text styling */
#text1, #text2 {
	position: absolute;
	width: 100%;
	display: inline-block;
	background-color: var(--pink);
    color: var(--dark);
	font-family: 'Raleway', sans-serif;
	font-size: 80pt;
	text-align: center;
	
	user-select: none;
}

svg.animated{
    background: url(../images/bear.png) left top repeat;
    width: 100%;
    height: 850px;
    margin-top: -5rem;
}

nav.navbar-inverse {
    background-color: var(--dark);
    transition: all .3s ease;
}

nav.navbar-inverse .alamort{
    font-size: 4rem;
    margin: 2rem 0;
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-family: fantasy;
    color: var(--pink);
}

nav.navbar-inverse ul{
    list-style-type: none;
    color: var(--pink);
}

nav.navbar-inverse .alamort{
    color: var(--pink);
}

nav.navbar-inverse ul.navbar-nav li a{
    color: var(--pink);
    font-size: 3rem;
    margin: 0 2rem;
    margin-top: 4rem;
}

nav.navbar-inverse ul.navbar-nav li a:hover{
    background-color: var(--pink);
    transition: all .3s ease;
}

footer{
    background: var(--dark);
    text-align: center;
    padding: 2rem 0;
    height: 150px;
}

footer .footer-logo{
    margin-bottom: 2rem;
}

footer .footer-socials{
    display: flex;
    position: absolute;
    margin-left: 50%;
    margin-top: 0rem;
    transform: translateX(-45%);
}

footer .footer-socials a{
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 1rem;
    transition: all .3s ease;
}

footer .footer-socials a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

footer .footer-socials a img:hover{
    background-image: url(../images/circle.jpg);
    border-radius: 50%;
}

footer .copyright{
    color: var(--pink);
    margin-top: 5rem;
    font-family: cursive;
    font-size: 1.5rem;
}

footer .footer-socials{
    margin-bottom: 3rem;
    margin-right: -1rem;
}

footer .copyright span{
    color: var(--purple);
}

section .q1{
    height: 800px;
    /*clip-path: polygon(0 0, 15% 0, 50% 30%, 85% 0, 100% 0, 100% 15%, 70% 50%, 100% 85%, 100% 100%, 85% 100%, 50% 70%, 15% 100%, 0 100%, 0 85%, 30% 50%, 0 15%);*/
}

section .q1 h1.head{
    font-family: cursive;
    text-align: center;
    color: var(--dark);
    margin-bottom: 14rem;
    line-height: 0.5;
    font-size: 7rem;
}

section .q1 .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4rem;
    align-items: center;
}

section .q1 .card-wrapper .card{
    text-align: center;
    background-color: var(--pink);
    margin: 4rem;
    border-radius: 1rem;
    padding: 2rem;
}

section .q1 .card-wrapper .card:hover{
    color: var(--pink);
    border: 1rem solid var(--dark);
}

.hover-me::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
}
  
.hover-me:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
  
.hover-me::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: var(--pink);
    z-index: -1;
    transition: transform .3s ease;
}
  
.hover-me{
    position: relative;
    font-size: 3rem;
}

.img{
    border-radius: 2rem;
    width: 100px;
    margin-top: 2rem;
}

.link{
    font-size: 7rem;
    transition: all .3s ease;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 576px){
    svg.animated{
        height: 500px;
    }
    section.q1 .card-wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
    #text1, #text2{
    	font-size: 7rem;
    }
    section .q1{
    	height: 950px;
    }
    section .q1 h1.head{
    	font-size: 4rem;
    	margin-bottom: 2rem;
    }
    section .q1 .card-wrapper{
    	display: grid;
    	grid-template-columns: 1fr;
    }
    section .q1 .card-wrapper .card{
    	margin-bottom: 1rem;
    }
    .link{
    	font-size: 3rem;
    }
    .img{
    	width: 50px;
    }
}
