/* STYLING OF index.html */

/* Cool font from Google Fonts! */
@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root{
    --dark: #17252A;
    --blue: #2B7A78;
    --purple: #3AAFA9;
    --green: #DEF2F1;
    --pink: #FEFFFF;
}

html{
    scroll-behavior: smooth;
}

body {
	margin: 0px;
}

#container {
	/* Center the text in the viewport. */
	position: absolute;
	margin: auto;
	width: 100vw;
	height: 80pt;
	top: 0;
	bottom: 0;
	
	/* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
	filter: url(#threshold) blur(0.6px);
}

/* Your average text styling */
#text1, #text2 {
	position: absolute;
	width: 100%;
	display: inline-block;
	background-color: var(--purple);
    color: var(--pink);
	font-family: 'Dancing Script', cursive;
	font-size: 80pt;
	text-align: center;
	
	user-select: none;
}

svg.animated{
    width: 100%;
    height: 1000px;
    margin-top: -5rem;
    margin-bottom: -20rem;
    background-image: url(../images/alamortbg.gif);
    background-repeat: no-repeat;
}

nav.navbar-inverse {
    background-color: var(--blue);
    transition: all .3s ease;
}

nav.navbar-inverse .alamort{
    font-size: 3rem;
    margin: 1rem 0;
    margin-bottom: 0rem;
    font-family: 'Dancing Script', cursive;
    color: var(--pink);
}

nav.navbar-inverse .alamort:hover{
    color: var(--dark);
}

nav.navbar-inverse ul{
    list-style-type: none;
    color: var(--pink);
}

nav.navbar-inverse ul.navbar-nav li a{
    color: var(--pink);
    font-size: 1.5rem;
    margin: 0 2rem;
    margin-top: 1rem;
}

nav.navbar-inverse ul.navbar-nav li a:hover{
    background-color: var(--dark);
    transition: all .3s ease;
    border-radius: 1rem;
}

footer{
    background: var(--blue);
    text-align: center;
    padding: 2rem 0;
    height: 150px;
}

footer .footer-logo{
    margin-bottom: 2rem;
}

footer .footer-socials{
    display: flex;
    position: absolute;
    margin-left: 50%;
    margin-top: 0rem;
    transform: translateX(-45%);
}

footer .footer-socials a{
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 1rem;
    transition: all .3s ease;
}

footer .footer-socials a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

footer .footer-socials a img:hover{
    background-image: url(../images/circle.jpg);
    border-radius: 50%;
}

footer .copyright{
    color: var(--pink);
    margin-top: 5rem;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
}

footer .footer-socials{
    margin-bottom: 1rem;
    margin-right: -1rem;
}

footer .copyright span{
    color: var(--dark);
}

section .q1{
    height: 800px;
    /*clip-path: polygon(0 0, 15% 0, 50% 30%, 85% 0, 100% 0, 100% 15%, 70% 50%, 100% 85%, 100% 100%, 85% 100%, 50% 70%, 15% 100%, 0 100%, 0 85%, 30% 50%, 0 15%);*/
}

section .q1 h1.head{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: var(--dark);
    margin-bottom: 14rem;
    line-height: 0.5;
    font-size: 7rem;
}

section .q1 .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4rem;
    align-items: center;
}

section .q1 .card-wrapper .card{
    text-align: center;
    background-color: var(--green);
    margin: 4rem;
    border-radius: 1rem;
    padding: 2rem;
}

section .q1 .card-wrapper .card:hover{
    color: var(--pink);
    border: 0.5rem dotted var(--dark);
    background-color: var(--pink);
}

.hover-me::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
}
  
.hover-me:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
  
.hover-me::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: var(--purple);
    z-index: -1;
    transition: transform .3s ease;
}
  
.hover-me{
    position: relative;
    font-size: 3rem;
}

.img{
    border-radius: 2rem;
    width: 100px;
    margin-top: 2rem;
}

.link{
    font-size: 5rem;
    transition: all .3s ease;
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: var(--blue);
}

.link:hover{
    color: var(--blue);
}

.q3{
    display: none;
}

.q2 a h1{
    color: var(--dark);
    font-size: 3rem;
}

.q4 a h1{
    color: var(--dark);
    font-size: 3rem;
}

/* STYLING OF men.html, women.html, kid.html */

section .men, section .women, section .kid{
    margin-top: 20rem;
    height: auto;
}

section .men .card-wrapper, section .women .card-wrapper, section .kid .card-wrapper{
    display: grid;
    grid-template-columns: 1fr;
}

/* STYLING OF mcloth.html, mwatch.html, mshoes.html, mhats.html, mspecs.html, maccess.html, wcloth.html, wwatch.html, wshoes.html, whats.html, wspecs.html, waccess.html, kcloth.html, kshoes.html, khats.html */

section .cat{
    margin-top: 30rem;
    height: auto;
}

section .cat .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 7rem;
    align-items: center;
    justify-content: center;
    grid-row-gap: 6rem;
    margin: 6rem;
}

section .cat .card-wrapper .card{
    text-align: center;
    margin: 0.2rem;
    border-radius: 1rem;
    padding: 2rem;
}

section .cat .card-wrapper .card1{
    text-align: center;
    margin: 0.5rem;
    border-radius: 1rem;
    padding: 0rem;
}

section .cat .card-wrapper .card2{
    text-align: center;
    margin: 1rem;
    border-radius: 1rem;
    padding: 0rem;
}

section .cat .card-wrapper .card:hover{
    color: var(--pink);
    transition: all .4s ease;
    background-color: var(--blue);
    transform: rotate(-10deg);
}

section .cat .card-wrapper .card1:hover{
    color: var(--pink);
    transition: all .4s ease;
    background-color: var(--purple);
    transform: rotate(-10deg);
}

section .cat .card-wrapper .card2:hover{
    color: var(--pink);
    transition: all .4s ease;
    background-color: var(--dark);
    transform: rotate(20deg);
}

section .cat h1.head{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: var(--dark);
    margin-bottom: 14rem;
    line-height: 0.5;
    font-size: 7rem;
    margin-top: 2rem;
}

.img1{
    width: 250px;
    border-radius: 1rem;
}

.price{
    font-size: 2.5rem;
    color: var(--dark);
}

.price:hover{
    color: var(--green);
    transition: all .3s ease;
}

/* Media Query */

@media screen and (max-width: 576px){
    svg.animated{
        height: 400px;
        background-image: none;
        margin-top: -5rem;
    }
    section .q1 .card-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        grid-column-gap: 0.0001rem;
    }
    #text1, #text2{
    	font-size: 4rem;
    }
    section .q1{
    	height: 2100px;
    }
    section .q1 h1.head{
    	font-size: 4rem;
    	margin-bottom: 4rem;
    	margin-top: 2rem;
    }
    section .q1 .card-wrapper .card{
    	margin-bottom: 0.1rem;
    	margin-top: 2rem;
    }
    .link{
    	font-size: 2rem;
    }
    .img{
    	width: 50px;
    }
    nav.navbar-inverse ul.navbar-nav li a{
    	font-size: 1.5rem;
    	margin-top: 0.1rem;
    	margin-bottom: 0.1rem;
    }
    nav.navbar-inverse .alamort{
    	font-size: 3rem;
    	margin-top: 2rem;
    }
    .q2{
        display: none;
    }
    section .q1 .card-wrapper .card:hover{
        border: 0.5rem solid var(--purple);
        background-color: var(--pink);
    }
    .q3{
        display: grid;
    }
    section .cat{
        margin-top: 15rem;
        height: auto;
    }
    section .cat .card-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0rem;
        grid-row-gap: 0rem;
    }
    section .cat .card-wrapper .card1{
        margin: 0rem;
    }
    section .cat .card-wrapper .card2{
        margin: 0rem;
    }
    section .cat .card-wrapper .card1:hover{
        color: none;
        transition: none;
        background-color: var(--pink);
        transform: rotate(0deg);
    }
    section .cat .card-wrapper .card2:hover{
        color: var(--pink);
        transition: all .4s ease;
        background-color: var(--pink);
        transform: rotate(0deg);
    }
    section .cat .card-wrapper .card{
        text-align: center;
        border: 0.2rem solid var(--dark);
        margin: 4rem;
        margin-top: 1rem;
        border-radius: 1rem;
        padding: 2rem;
        display: block;
    }
    section .cat .card-wrapper .card:hover{
        color: var(--pink);
        transition: all .3s ease;
        background-color: var(--dark);
        transform: rotate(0deg);
    }
    section .cat h1.head{
        font-family: 'Dancing Script', cursive;
        text-align: center;
        color: var(--dark);
        margin-bottom: 14rem;
        line-height: 0.5;
        font-size: 4rem;
        margin-top: 2rem;
    }
    .img1{
        width: 100px;
        border-radius: 1rem;
    }
    .img1:hover{
        width: 150px;
        transition: all .3s ease;
    }
    .price{
        color: var(--blue);
        font-size: 1.5rem;
    }
    section .men, section .women, section .kid{
        margin-top: 15rem;
        height: auto;
    }
    section .men .card-wrapper, section .women .card-wrapper, section .kid .card-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    section .men .card-wrapper .card:hover, section .women .card-wrapper .card:hover, section .kid .card-wrapper .card:hover{
        border: 0.2rem dashed var(--dark);
    }
}

/* STYLING OF sales.html */

.sales{
    background-color: var(--dark);
    margin-top: 6rem;
    width: 100%;
    height: 400px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 90%, 80% 100%, 70% 90%, 60% 100%, 50% 90%, 40% 100%, 30% 90%, 20% 100%, 10% 90%, 0 100%);
}

.sales h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: var(--pink);
    margin-bottom: 14rem;
    line-height: 0.5;
    font-size: 7rem;
    margin-left: 4%;
}

.sale1{
    height: 500px;
    margin-top: 7rem;
}

.sale1 .image1 img{
    height: 400px;
    margin-top: -48rem;
    margin-left: 30%;
    border-radius: 2rem;
}

.sale1 .image1 img:hover{
    height: 450px;
    transition: all .4s ease;
}

.sale1 .clip1{
    margin-top: 25rem;
}

.sale1 .clip2{
    margin-top: -12rem;
    margin-left: 64.95%;
}

.sale1 .image2 img{
    height: 400px;
    margin-top: -48rem;
    margin-left: 52%;
    border-radius: 2rem;
}

.sale1 .image2 img:hover{
    height: 450px;
    transition: all .4s ease;
}

.d1 svg, .d2 svg, .d3 svg, .d4 svg, .d5 svg, .d6 svg, .d7 svg, .d8 svg, .d9 svg, .d10 svg, .d11 svg, .d12 svg, .d13 svg, .d14 svg, .d15 svg, .d16 svg, .d17 svg, .d18 svg, .d19 svg, .d20 svg{
    z-index: 999;
    position: fixed;
    background-color: var(--purple);
    border-radius: 1rem;
}

.d1{
    margin-top: -20%;
}

.d2, .d4, .d6{
    margin-left: 10%;
    margin-top: 3%;
}

.d3, .d5, .d7{
    margin-top: 3%;
}

.d8{
    margin-left: 20%;
    margin-top: -28%;
}

.d9, .d11, .d13{
    margin-left: 30%;
    margin-top: 3%;
}

.d10, .d12, .d14{
    margin-left: 20%;
    margin-top: 3%;
}

.d15{
    margin-left: 40%;
    margin-top: -28%;
}

.d16{
    margin-left: 40%;
    margin-top: 7.5%;
}

.d17, .d18{
    margin-left: 40%;
    margin-top: 7.5%;
}